/* @wolfram77 */


/* header */
header {
  background-color: #44B;
  color: #EEE;
}
header .col {
  padding: 1rem !important;
  -webkit-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
}
header.active {
  background-color: #227
}
header .col:hover, header .col:active {
  background-color: #337
}
header .name {
  padding-left: 2rem !important;
}
header a {
  color: #EEE;
}


/* footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 4rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding-bottom: 2rem;
}


/* text */
.row {
  margin: 0;
}
main .row {
  padding-bottom: 2em;
}


/* editor */
.modal {
  max-height: 90% !important;
}
.jsoneditor td {
  display: inline-block !important;
}
.jsoneditor .search {
  width: 50% !important;
}


/* chart */
#chart {
  width: 100%;
  height: 40rem;
}
