<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/mod/jsoneditor/jsoneditor.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/blob.min.js"></script>
  <script src="/js/filesaver.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/lodash.min.js"></script>
  <script src="/mod/jsoneditor/jsoneditor.min.js"></script>
  <script src="/js/highstock.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js"></script>
  <link rel="icon" href="/favicon.ico">
  <title>rfid</title>
</head>



<body ng-app="app" ng-controller="valCtrl" ng-init="set(0)">

<!-- header -->
<header class="row">
<div class="col s12 m6 name" is="tap" ng-class="{active: is(0)||is(1)}" ng-click="set(is(0)? 1 : 0)">
  <a href="#"><h1><i class="fa fa-credit-card fa-lg"></i> <span id="title">rfid</span></h1></a>
</div>
<div class="col s4 m2 center" is="access" ng-class="{active: is(2)}" ng-click="set(2)">
  <a href="#"><h1><i class="fa fa-filter fa-lg"></i></h1></a>
</div>
<div class="col s4 m2 center" is="group" ng-class="{active: is(3)}" ng-click="set(3)">
  <a href="#"><h1><i class="fa fa-group fa-lg"></i></h1></a>
</div>
<div class="col s4 m2 center" is="config" ng-class="{active: is(4)}" ng-click="set(4)">
  <a href="#" ng-click="set(4)"><h1><i class="fa fa-cog fa-lg"></i></h1></a>
</div>
</header>


<main>
<!-- range select -->
<div ng-controller="tapLinkCtrl" ng-init="init('chart');load(5000);">
<section ng-show="is(1)">
<div class="deep-purple lighten-5 block">
<div class="container">
<div class="row">
  <div class="input-field col m3 s6">
    <input id="tap-start" type="text" class="datepicker center-align" ng-model="startstr" ng-change="refresh()">
    <label for="tap-start">Start Date</label>
  </div>
  <div class="input-field col m3 s6">
    <input id="tap-end" type="text" class="datepicker center-align" ng-model="endstr" ng-change="refresh()">
    <label for="tap-end">End Date</label>
  </div>
  <div class="input-field center-align col m2 s4">
    <input id="status-i" type="checkbox" ng-model="status.i">
    <label for="status-i">invalid</label>
  </div>
  <div class="input-field center-align col m2 s4">
    <input id="status-v" type="checkbox" ng-model="status.v">
    <label for="status-v">valid</label>
  </div>
  <div class="input-field center-align col m2 s4">
    <input id="status-e" type="checkbox" ng-model="status.e">
    <label for="status-e">error</label>
  </div>
</div>
</div>
</div>
<!-- points select -->
<div class="blue lighten-5" is="selected points">
<div class="container">
<div class="row">
  <div class="input-field col m2 s4" ng-repeat="(p, v) in points">
  <input ng-attr-id="{{'point-'+p}}" type="checkbox" ng-model="points[p]">
  <label ng-attr-for="{{'point-'+p}}">{{p}}</label>
  </div>
</div>
</div>
</div>
</section>

<section ng-show="is(0) || is(1)">
<!-- count display -->
<div class="row">
  <div class="red lighten-3 col s4 center" is="invalid taps"><h4>{{tcount.i}}</h4></div>
  <div class="green lighten-3 col s4 center" is="valid taps"><h4>{{tcount.v}}</h4></div>
  <div class="blue lighten-3 col s4 center" is="error taps"><h4>{{tcount.e}}</h4></div>
</div>
<!-- chart -->
<div id="chart"></div>
<!-- download report -->
<div class="fixed-action-btn" style="bottom:45px; right:24px;">
  <a class="btn-floating btn-large red"><i class="fa fa-file-text"></i></a>
</div>
</section>
</div>


<section ng-show="is(4)">
<!-- config -->
<div class="container block" ng-controller="jsonCtrl" ng-init="init('config-json')">
<div class="row">
<div class="input-field col s8">
  <input id="config-url" type="text" ng-model="url" ng-init="url='/api/config/get'">
  <label for="config-url">URL</label>
</div>
<div class="input-field col s4">
  <a class="btn btn-large waves-effect max-width" is="run" ng-click="load(get())">
    <i class="fa fa-play"></i> Run
  </a>
</div>
</div>
<div class="row">
<div class="col s12">
  <div id="config-json" style="height: 30rem;"></div>
</div>
</div>
</div>
</section>

</main>


<footer class="page-footer">
<div class="container white-text center-align">
  When all else fails, take a nap.
</div>
</footer>

</body>

</html>
